.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 422px;
}

.space {
    height: 204px;
}

@media(max-width:800px) {
    .container {
        height: 279px;
    }

    .space {
        height: 121px;
    }

}