@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.section {
    gap: 10px;
    width: 100%;
    display: flex;
}

.sectionContent {
    width: 50vw;
}

.sectionForm {
    width: 45vw;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 30px 46px;
    background-color: #042660;
}

.titleContainer {
    display: flex;
    margin-left: 72px;
}

.title {
    margin-right: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: #042660;
}

.wordColor {
    color: #79abde;
}

.subtitle {
    margin-right: 72px;
    margin-left: 72px;
    margin-top: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.items {
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 40px;
    width: 80%;
}

.item_icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item_txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    overflow: hidden;
}

.location {
    display: flex;
    align-items: center;
    gap: 48px;

    margin-left: 72px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.subtitle2 {
    margin-right: 72px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

@media (max-width: 800px) {
    .section {
        flex-direction: column;
        gap: 10px;
    }

    .sectionContent {
        width: 100%;
    }

    .sectionForm {
        width: 100%;
        padding: 30px 23px;
    }

    .sectionForm {
        width: 100%;
    }

    .titleContainer {
        display: flex;
        margin-left: 23px;
    }

    .title {
        margin-right: 23px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    .subtitle {
        margin-right: 23px;
        margin-left: 23px;
        margin-top: 35px;
        font-size: 20px;
    }

    .items {
        margin-left: 23px;
        margin-right: 23px;
        margin-top: 34px;
        width: 90%;
    }

    .item_txt {
        font-size: 21px;
        line-height: 24px;
    }

    .location {
        gap: 30px;
        margin-left: 23px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .subtitle2 {
        margin-right: 23px;
        font-size: 20px;
        line-height: 24px;
    }

    .image {
        transform: scale(0.8);
    }
}
