.sectionOutside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section {
    height: 323px;
    width: 222px;
    background: #79abde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.imageContainer {
    width: 166px;
    height: 195px;
}

.imageContainer > .image {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 210px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

.description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}
