.sectionOutside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section {
    height: 323px;
    width: 222px;
    background: #79abde;

    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 205px 1fr;
}

.imageContainer {
    position: relative;
    height: 205px;
    width: calc(100% - 40px);
    margin: 0 20px;

    border-radius: 5px;
    overflow: hidden;
}

.imageContainer > .image {
    object-fit: cover;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

.description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}
