.container {
    width: 100%;
    padding: 0 5%;
    margin-bottom: 80px;
}

.container > h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #042660;

    text-decoration: underline 1px;
    text-decoration-color: #79abde;
    text-underline-offset: 6px;

    margin-bottom: 40px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.contentContainer > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    color: #000;
}

.contentContainer > .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.imageContainer > .image {
    max-height: 200px;
    width: auto;
}

@media (max-width: 1300px) {
    .container {
        margin-bottom: 48px;
    }
    .contentContainer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .contentContainer > p {
        font-size: 18px;
        line-height: 30px;
    }
    .contentContainer > .imageContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contentContainer > .imageContainer > .image {
        width: 30%;
        height: auto;
    }
}
