.container {
    display: flex;
    padding: 0;
    margin: 0;
}

.formContainer {
    width: 100vw;
    background: #042660;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    /* padding: 5px 284px 0px 284px; */
}

.group {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-top: 25px;
}
.groupContato {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: 25px;
    width: 100%;
}

.label {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    /* overflow: hidden; */
    flex-wrap: wrap;
    margin-bottom: 8px;
    /* border: 1px solid black; */
}

.input {
    box-sizing: border-box;
    text-indent: 0.5em;
    width: 95%;
    height: 50px;
    border: 2px solid #79ABDE;
    border-radius: 8px;
    background: #042660;
    color: #FFFFFF;
    resize: none;
}

.formCheckContainer {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    margin-right: 35px;
}

.checkbox {
    
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  /* background-color: var(--form-background); */
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #79ABDE;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkbox_label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #FFFFFF;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    background: #79ABDE;
    border-radius: 8px;
    height: 50px;
    width: 146px;
    padding: 10px;

    margin-bottom: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.button_txt {
    width: 56px;
    height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}

.title {
    color: white;
    text-align: center;
}

.spanOrcamento {
    color: #79ABDE;
}

.error {
    color: rgb(255, 44, 44);
    font-size: 20px;
}

@media (max-width: 800px) {
    .formContainer {
        width: 100vw;
        border-radius: 0px;
        /* padding: 5px 10px 0px 10px; */
    }
    .checkbox{
        width: 1.5em;
        height: 1.5em;
    }
}