.container {
    display: flex;
    padding: 0;
    margin: 0;
}

.formContainer {
    width: 100%;
    background: #042660;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-top: 25px;
}
.groupContato {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: 25px;
    width: 100%;
}

.label {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    /* overflow: hidden; */
    flex-wrap: wrap;
    margin-bottom: 8px;
    /* border: 1px solid black; */
}

.input {
    box-sizing: border-box;
    text-indent: 0.5em;
    width: 95%;
    height: 50px;
    border: 2px solid #79abde;
    border-radius: 8px;
    background: #042660;
    color: #ffffff;
    resize: none;
}

.input:focus {
    box-shadow: 0px 0px 5px #79abde;
    outline: 0;
}

.formCheckContainer {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    margin-right: 35px;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #79abde;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.checkbox::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkbox_label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #ffffff;
}

.buttonContainer {
    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 18px 50px;

    background: #79abde;
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;

    cursor: pointer;
}

.title {
    color: white;
    text-align: center;
}

.spanOrcamento {
    color: #79abde;
}

.error {
    color: rgb(255, 44, 44);
    font-size: 20px;
}

@media (max-width: 800px) {
    .formContainer {
        width: 100%;
        border-radius: 0px;
    }
    .checkbox {
        width: 1.5em;
        height: 1.5em;
    }
}
