.nav {
    margin: 0;
    padding-bottom: 0;
    height: 204px;
    width: 100%;
    background-color: #042660;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.logoContainer {
    display: flex;
    width: 100%;
}

.logo {
    display: block;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.navBar {
    display: flex;
    border: 2px solid #79ABDE;
    justify-content: space-around;
}

.item {
    width: 150px;
    height: 63px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
        
    /* background-color: black; */
}

.svg_triangle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24px;
    left: 128px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(56deg) brightness(112%) contrast(101%);
    z-index: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    background-color: #042660;
    color: white;
    display: none;
    position: absolute;
    width: 147px;
    height: 200px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14.63px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.item:hover{
    color: black !important;
    filter: invert(64%) sepia(18%) saturate(921%) hue-rotate(169deg) brightness(101%) contrast(84%);
}

.mobileNavBar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #042660;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
}



/*
 * And let's fade it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

.checkb:not(:checked) ~ .menu {
    display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}


@media (min-width: 768px) {
    .mobileNavBar {
        display: none;
    }
    
}
@media (max-width: 767px) {
    .nav {
        height: 121px;
    }
    .logo {
        width: 238px;
        height: 105px;
    }
    .navBar {
        display: none;
    }
}

