.container {
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 9999;
}

.topContent {
    width: 100%;
    background-color: #042660;

    display: grid;
    grid-template-columns: 1fr min-content;
}

.topContent .logoContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topContent .hamburgerContainer {
    height: 100%;
    width: min-content;
    padding: 0 clamp(5px, 5%, 30px);

    display: none;
}

.bottomContent {
    width: 100%;
    padding: 14px 8%;

    background-color: #042660;
    border: 2px solid #79abde;
}

.bottomContent .itemsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;

    color: white;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 800px) {
    .topContent .hamburgerContainer {
        display: flex; /* Activates hamburger menu icon */
        justify-content: center;
        align-items: center;
    }

    .topContent .logoContainer .logo {
        max-height: 90px;
        width: auto;
    }

    .bottomContent {
        display: none; /* Hides menu */
        padding: 14px 0;
    }

    .menuActive {
        display: block; /* Activates menu */
    }

    .bottomContent .itemsList {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .bottomContent .itemsList li {
        width: 100%;
        text-align: center;
    }
}
