/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

.section {
    width: 100%;
    background: #efefef;
    border: 1px solid #efefef;
}

.title {
    margin-top: 64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #042660;

    text-decoration: underline 1px;
    text-decoration-color: #79abde;
    text-underline-offset: 12px;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px 0 50px;
}

@media (max-width: 800px) {
    .section {
        height: 375.17px;
    }
    .title {
        margin: 46px 10px;
    }
    .images {
        margin: 20px 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .image {
        transform: scale(0.75);
    }
}
