.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #79ABDE;
    width: 100%;
    height: 294px;
    text-align: center;
}

.contact_txt {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.txt1 {
    height: 44px;
    color: #042660;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    text-decoration: underline 1px;
    text-decoration-color: #79ABDE;
    text-underline-offset: 6px;
}

.txt2_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #79ABDE;
    border-radius: 10px;
    padding: 18px;
    width: 460px;
}
.txt2 {
    font-family: 'Montserrat';
    color: #042660;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.items {
    display: flex;
    flex-direction: column;
}

.item_icon {
    display: grid;
    grid-template-columns: 50px 181px;
    grid-gap: 30px;
    align-items: center;
}

.item_txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}


/* @media (max-width: 390px) {

    
} */

@media (max-width: 800px) {
    .section {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 356.67px;
    }

    .contact_txt {
        gap: 20px;
    }

    .txt1 {
        font-size: 21.4509px;
    }

    .txt2_container {
        width: 332px;
    }

    .txt2 {
        font-size: 17.0133px;
    }

    .item_icon {
        display: grid;
        grid-template-columns: 38px 170px;
        grid-gap: 24px;
        align-items: center;
    }
    
    .item_txt {
        font-size: 18.2417px;
        line-height: 22px;
    }

    .image {
        transform: scale(0.8);
    }
    
} 
