.container {
    height: 450px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

@media (max-width: 600px) {
    .container {
        height: 380px;
    }
}
