.sectionForm {
    width: 100%;
    padding: 5px 284px 0px 284px;
    background-color: #042660;
}

@media (max-width: 800px) {
    .sectionForm {
        width: 100%;
        padding: 5px 10px 0px 10px;
    }
}