.section {
    height: 400px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #042660;
    /* border: 1px solid black; */
}

@media (max-width: 800px) {   
    .section {
        height: 210px;
        padding-bottom: 25px;
    }
    
    .title {
        font-size: 32px;
        line-height: 40px;
    }
}